.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;

    &::before{
        content: '';
        background-color: #000000;
        opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    &__logo{
        height: 80px;
        margin-bottom: 64px;
    }

    &__text{
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0;
        
        &__logo{
            height: 60px;
            margin-bottom: 32px;
        }

        &__text{
            font-size: 24px;
            line-height: 24px;
        }
    }
}