@use 'hero';
@use '/src/styles/components/infos_bar';
@use '/src/styles/components/buttons';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}
